
@import url('https://fonts.googleapis.com/css2?family=DM+Mono:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap');

body{
    margin: 0;
    font-family: "DM Mono", serif;
    color: #1e1e1e!important;
  }
  .css-1kazv4c{
    display: none!important;
  }
  .css-1epk0eb{
    padding: 24px 24px 0px 24px!important;

  }
  .ant-switch.ant-switch-checked{
   background: #f85d4f!important
  }
  button{
    font-family: "DM Mono", serif;

  }