.prof-section{
    min-height: 80vh;
}
  .profile-container {
    display: flex;
    width: 95%;
    margin: 50px auto;
    /* max-width: 900px; */
    background: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 26px rgb(0 0 0 / 25%);
  }
  
  /* Profile Section */
  .profile-card {
    width: 30%;
    padding: 20px;
    border-right: 1px solid #ddd;
  }
  
  .profile-header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .profile-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .profile-wallets p {
    margin: 2px 0;
    font-size: 14px;
  }
  .wallet-address{
    font-weight: 600;
  }
  .wallet-chain {
    font-size: 12px;
    color: gray;
  }
  
  /* Biography & Social Links */
  .profile-section-title {
    font-size: 16px;
    margin: 10px 0;
  }
  
  .profile-text {
    color: #555;
  }
  
  .social-icons {
    display: flex;
    gap: 10px;
  }
  
  .social-icon {
 display: flex;
 align-items: center;
 

  }
  
  /* Edit Profile Button */
  .profile-edit-btn {
    width: 100%;
    padding: 8px;
    background: #f85d4f;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  /* Content Section */
  .profile-content {
    width: 70%;
    padding: 20px;
  }
  
  /* Tabs */
  .profile-tabs {
    display: flex;
    gap: 10px;
  }
  
  .profile-tab-btn {
    padding: 8px 12px;
    border: none;
    background: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .profile-tab-btn.active {
    background: #f85d4f!important;
    color: white;
  }
  
  /* Content Box */
  .profile-content-box {
    margin-top: 20px;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 5px;
    text-align: center;
  }
  
  .content-message {
    color: #666;
    font-size: 14px;
  }

  .social-icon-avatar{
    margin: 15px 15px 15px 0; 
  }
  @media screen and (max-width:968px) {
    .profile-container{
        width: 90%;

        flex-direction: column;
    }
    .profile-card{
        border-right: 0;
    }
  }