.App {
  background-image: url(https://app.virtuals.io/static/media/sky.2d2783f….png);
  background-attachment: fixed;
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  display: flex
;
  flex-direction: column;
  min-height: 100dvh;
}

